<div class="spoolwizard-container">
    <h1>SpoolWizard</h1>
    <p>Filament Inventory Manager</p>

    <hr>

    <h3>Active Spool</h3>

    <div class="spool-box">
        <h4>Bambu PLA Basic</h4>
        <p>White • 842g Remaining</p>

        <button class="btn btn-primary">
            Change Spool
        </button>
    </div>

    <hr>
    
    <h3>Quick Actions</h3>
    
    <button class="btn">Add Spool</button>
    
    <div class="spool-form">

        <h3>Add New Spool</h3>

        <label>Brand</label><br>
        <input type="text" id="brand"><br><br>

        <label>Material</label><br>
        <input type="text" id="material"><br><br>

        <label>Color</label><br>
        <input type="text" id="color"><br><br>

        <label>Total Weight (g)</label><br>
        <input type="number" id="total_weight"><br><br>

        <label>Remaining Weight (g)</label><br>
        <input type="number" id="remaining_weight"><br><br>

        <button id="save-spool" class="btn btn-primary">
            Save Spool
        </button>

    </div>

    <hr>

    <h3>Spool Inventory</h3>
    
    <div class="inventory-table">
        <table>
            <tr>
                <td>Bambu PLA White</td>
                <td>842 g</td>
            </tr>
            <tr>
                <td>Elegoo PETG Black</td>
                <td>615 g</td>
            </tr>
            <tr>
                <td>Overture PLA Red</td>
                <td>991 g</td>
            </tr>
        </table>
    </div>
</div>